<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png" />
        <span id="welcomeHeader">WELCOME TO THE HAVENCORE LAUNCHER</span>
        <span id="welcomeDescription">
            <p>
                What is the HavenCore Network? Founded on Dragon Block C Alpha Reborn and it's long ancestry following
                DBC Fusions, DBC Easyforce and DBC Alpha Storm - We are a collaborative group of individuals striving to
                provide a network of several different types of high quality modded servers enhanced by our own custom
                mods(HavenCore) starting from Dragon Block C.

                Currently featuring DBC Fusions, DBC Alpha Reborn, DBC Colossus and Dragon Block Divinity.
            <p>
        </span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from HavenCore's Servers.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>
                            .arrowLine {
                                fill: none;
                                stroke: #FFF;
                                stroke-width: 2px;
                                transition: 0.25s ease;
                            }
                        </style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02" />
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>